/* =========================================
   🔠 字體 FONTS
   ========================================= */
  @font-face {
      font-family: "Cubic11"; 
      src: url('https://cdn.jsdelivr.net/gh/ACh-K/Cubic-11@90bc0e197c4db0fc8c75fe30c2d82dea03da707e/fonts/ttf/Cubic_11.ttf') format('truetype'); 
      font-display: swap;
  }
  .font-cubic {font-family: 'Cubic11', sans-serif;}
  .thin-border {-webkit-text-stroke: 0.5px currentColor; paint-order: stroke fill;}
  .thick-border {-webkit-text-stroke: 1px currentColor; paint-order: stroke fill;}

/* =========================================
   🥽 玻璃框 GLASS PANEL
   ========================================= */
  .glass-panel {
      background: rgba(255, 255, 255, 0.7); 
      backdrop-filter: blur(10px); 
      border: 1px solid rgba(255,255,255,0.3);
  }

/* =========================================
   📲 手機旋轉提示 ORIENTATION NOTI
   ========================================= */
  /* ↕️ 橫轉直 PORTRAIT */
  #orientation-noti-portrait {
      display: none; 
      position: fixed; 
      inset: 0; 
      z-index: 99999; 
      background-color: #1dc5fd; 
      flex-direction: column; align-items: center; justify-content: center;
  }
  @media screen and (max-width: 1000px) and (orientation: landscape) {
      #orientation-noti {display: flex !important;} 
      body {overflow: hidden !important;}
  }
  @keyframes phone-portrait {
      0% { transform: rotate(-90deg); } 
      30% { transform: rotate(0deg); } 
      70% { transform: rotate(0deg); } 
      100% { transform: rotate(-90deg); }
  }
  .animate-phone-portrait {animation: phone-portrait 3s ease-in-out infinite; transform-origin: center;}

/* =========================================
   🐕 動畫 ANIMATION
   ========================================= */

  /* 🤖 NPC 漂浮 FLOAT */
  @keyframes float-loop {
      0%, 100% { transform: translateY(-2px); animation-timing-function: ease-in-out; } 
      50% { transform: translateY(2px); animation-timing-function: ease-in-out; }
  }
  .animate-text-float { animation: float-loop 3s infinite; }
  .npc-float { 
      animation: float-loop 3s infinite; 
      animation-delay: -1.5s; 
      filter: drop-shadow(0 6px 6px rgba(0,0,0,0.1)); 
      transition: filter 1.5s ease-in-out;
  }

/* =========================================
   🫵🏻 手勢禁止 NO GESTURE
   ========================================= */
  .no-touch {
      touch-action: none; 
      -webkit-touch-callout: none; 
      -webkit-user-select: none; 
      -webkit-user-drag: none;
  }

/* =========================================
   🙈 隱藏圖層 HIDDEN
   ========================================= */
  .hidden {display: none !important;}

/* =========================================
   🔘 按鈕 BUTTONS
   ========================================= */

a, button, [role="button"] {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='55' height='55' style='font-size:40px; opacity:0.8'><text x='50%' y='50%' dominant-baseline='central' text-anchor='middle'>🌥️</text></svg>") 27 27, pointer !important;}

@media (hover: hover) {
  a:hover, button:hover, [role="button"]:hover {background-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 1);}}
  a:active, button:active, [role="button"]:active {background-color: rgba(255, 255, 255, 0.3); color: rgba(255, 255, 255, 1); transform: scale(0.95);}
